@font-face {
    font-family: eafifa;
    src: url(fonts/EASPORTS15.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.card {
    position: relative;
    background-color: #6CABDD;
    display: inline-block;
    width: 350px;
    width: 350px;
    height: 505px;
    font-family: eafifa;
    margin:10px;
}
.nation{
    z-index:1;
    display:flex;
    justify-content: center; 
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    width: 250px;
    height: 250px;
    opacity: .35;
}
.pstat{
    position: absolute;
    left: 30px;
    font-size: 33px;
    z-index: 5;
}
.pstat p{
    left: 10px;
}
.pstat img{
    width: 70px;
    height: 70px;
}
.pname{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  height: 50%;
  overflow: visible;
  margin: auto;
  position: absolute;
  top: 310px; left: 0; bottom: 0; right: 0;
    font-size: 44px;
    z-index: 5;
}
.player{
    position: absolute;
    bottom: 10px;
    width: 350px;
    height: 400px;
    background-size: cover;
    z-index: 3;
}
.top{
    position: absolute;
    z-index: 4;
    background-size: cover;
    width: 350px;
    height: 500px;
}