<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="initPage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>